@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  /* CSS Main color scheme HEX */
  --olive: #7E8031ff;
  --gold-fusion: #897450ff;
  --corn: #F6E94Dff;
  --khaki-web: #D1BEA2ff;
  --jet: #343540ff;
  --pine-tree: #2C2C26ff;


  /* MYAC */
  --light-sea-green: #16B4AEff;
  --yellow-green-crayola: #D5DE8Fff;
  --chestnut: #8F4427ff;
  --nadeshiko-pink: #F6ADC8ff;
  --pacific-blue: #03A7CAff;
  --dark-jungle-green: #222721ff;
  --opera-mauve: #A880AAff;


  /* y00t font color */
  --yblue: #5B7F9D;
  --yred: #F75024;
  --yyellow: #ECCC45;

  /* boxshadow */
  --bshadow: 0px 0px 9rem 65px rgba(0, 0, 0, 0.31) inset;
  --lightbshadow: 0px 1px 190px 4px rgb(256 256 256 / 2.5%) inset;
}


.menuButton, .submitButton, .clearButton {
  background: var(--corn);
}

header, .ai .message {
  background: var(--pacific-blue);
}

.menuBorder {
  border-right: solid 5px var(--yellow-green-crayola)
}

.qry00t {
  width: 100%;
  align-content: center;
  display: block;
}

.qry00t img{
  height: 48%;
  width: 48%;
}

.yblue {
  color: var(--yblue);
}

.yred {
  color: var(--yred);
}

.yyellow {
  color: var(--yyellow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #343541;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html,
body,
#root {
  height: -webkit-fill-available;
  height: 100%;
  margin: 0;
}

header {
  height: 26%;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow-y: hidden;
  border-bottom: solid 3px var(--yellow-green-crayola);
  display: flex;
  align-items: center;
  font-weight: 300;
  box-shadow: var(--lightbshadow);
}

.img-container {
  background-color: var(--light-sea-green);
    padding: 2px 0px 0 15px;
    border-radius: 100px;
    margin-right: 0.5rem;
    border: solid 3px var(--yellow-green-crayola);
    margin-bottom: -12px;
}

#y00t9022 {
  position: relative;
  bottom: 0;
  vertical-align: bottom;
  height: auto;
  width: 167px;
}

header {
  color: #ffffff;
  font-weight: 500;
}

header .main-heading h1 {
  margin-bottom: 0;
}

header .main-heading p {
  margin: 0;
}

.heading-title {
  font-size: 2rem;
}

.tagline {
  font-size: 1.5rem;
}

.y00t {
  font-size: 4rem;
}

.tagline .y00t {
  font-size: 1.65em;
}

p span.y00t {
  font-size: 3.5rem;
}

.main-heading {
  margin-left: 2rem;
}

#app {
  width: 100vw;
    height: 74%;
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--lightbshadow);
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  width: 0;
}

#chat_container::-webkit-scrollbar-thumb {
  background: transparent;
}

.wrapper {
  display: flex;
  margin: 10px 0;
}

.wrapper.ai {
  flex-direction: row-reverse;
}

.profile {
  margin-right: 10px;
}

.profile img {
  width: 50px;
  height: 50px;
}

.ai .profile img {
  width: 100px;
  height: 100px;
}

.message {
  max-width: 65%;
  background: var(--yellow-green-crayola);
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 1rem;
  border: solid 2px var(--pacific-blue);
  height: max-content;
}

.ai .message {
  position: relative;
  border: solid 2px var(--yellow-green-crayola);
}

form {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  box-shadow: var(--bshadow);
}

form input {
  flex: 1;
  height: 50px;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  background: var(--khaki-web);
  color: var(--jet);
}

textarea {
  width: 100%;
  background: var(--jet);
  padding: 1rem;
  color: #ffffff;
  border: solid 1px #ffffff;
}

textarea::placeholder {
  color: #cfcfcf;
}


.submitButton, .clearButton {
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.clearButton {
  border-radius: 10px 0 0 10px;
}

.clearButton img {
  width: 100%;
}

.submitButton.disabled {
  background: var(--jet);
  cursor: not-allowed;
}

.submitButton:hover {
  background: var(--gold-fusion);
}

.submitButton img {
  width: 100%;
}

.floating {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}




/* sidebar */
.menuButton {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  padding: 0.25rem;
  border-radius: 0 0 0.75rem 0;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: var(--pacific-blue);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--yellow-green-crayola);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.credit {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:  auto;
  display: block;
  text-align: center;
}

.credit a {
  font-size: 1rem;
  color: #ffffff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* mobile based css */
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .main-heading {
    margin-left:5px;
    font-size: 0.6rem;
  }

  header .main-heading .heading-title {
    margin-bottom: 0;
    font-size: 2.2rem;
    font-weight: lighter;
  }

  header .main-heading p {
    margin-top: 0;
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
  }
  
  .menuButton {
    padding: 0.25rem;
  }

  .y00t{
    font-size: 2.75rem;
  }

  .img-container {
    display: flex;
    align-self: end;
  }
  .app {
    max-height: 73%;
  }
}